<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605068922192-r8lo9llp242krtor4hm3tavpc2ikn89n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605068922192-r8lo9llp242krtor4hm3tavpc2ikn89n</string>
	<key>API_KEY</key>
	<string>AIzaSyAtg4ke1vKl6fdk-f0l9mhRQyA-Ur75tmU</string>
	<key>GCM_SENDER_ID</key>
	<string>605068922192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cousins.app</string>
	<key>PROJECT_ID</key>
	<string>cousins-adff0</string>
	<key>STORAGE_BUCKET</key>
	<string>cousins-adff0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605068922192:ios:d5641b9b90dc3de25cf055</string>
</dict>
</plist>