<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265745764921-rpeqo5ctruc7snlskdh5sfjsec43jgu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265745764921-rpeqo5ctruc7snlskdh5sfjsec43jgu6</string>
	<key>API_KEY</key>
	<string>AIzaSyAzLzxxdUqFnwiipzvenSEnjiPlkrJ6srs</string>
	<key>GCM_SENDER_ID</key>
	<string>265745764921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dr.chow</string>
	<key>PROJECT_ID</key>
	<string>dr-chow</string>
	<key>STORAGE_BUCKET</key>
	<string>dr-chow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265745764921:ios:4088b9da534110b46bf3e8</string>
</dict>
</plist>