<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866022231740-9n38v9rk15fmlipl8tk5434gf3bt99p7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866022231740-9n38v9rk15fmlipl8tk5434gf3bt99p7</string>
	<key>API_KEY</key>
	<string>AIzaSyDymtNLOE3Ylqqi5e_kTdfwBC9sgXn2p90</string>
	<key>GCM_SENDER_ID</key>
	<string>866022231740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hamze.men</string>
	<key>PROJECT_ID</key>
	<string>hamze-men</string>
	<key>STORAGE_BUCKET</key>
	<string>hamze-men.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866022231740:ios:d36ec185384073fd650ab9</string>
</dict>
</plist>